.nav-wrapper{
    background-color: rgb(26,27, 28);

}

 .btn-floating .btn-small{
    background-color: rgb(26,27, 28) !important;
} 
/* .btn-floating{
    background-color: rgb(26,27, 28);
} */

/* .waves-effect .waves-light{
    background-color: rgb(26,27, 28);
} */

/* .a{
    background-color:#219653;
  } */ 