.red{
    background-color: slateblue;
}


#card-panel.user {
    border-radius: 50%;
    margin: 40px;
    width:100px;
    padding-top: 10px;
    position:left;

   
}
#card-panel #grey #lighten-5 #z-depth-1{
    width: 80px;
}

